.bandMembers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 94.7vw;
  margin: 7vh auto;

  .bandMemberPicture {
    margin: 0;
    width: 11vw;
    height: fit-content;
    border-radius: 1vh;
    box-shadow: 0 0 10px #000;
  }

  .bandMember {
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 2vh;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
  }
}