/* src/styles/globals.module.css */
.html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .logoContainer {
    position: relative;
    height: 25.3vh;
  }

  .navPageBar {
    position: relative;
    height: 5vh;
    width: 75vw;
    align-items: center;
    margin: 7vh auto;
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px #000;
    top: 4vh;

    .navPageTitle {
      position: absolute;
      color: white;
      font-family: Verdana, sans-serif;
      font-size: 3vh;
      margin: 0.4vh 0;
      text-decoration: none;
      letter-spacing: 1vw;
    }
  }
}

