.navPageBar {
  position: relative;
  display: flex;
  width: 75vw;
  margin: 0 auto;
  padding: 0 0.5vw;
  height: 5vh;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1vh;
  box-shadow: 0 0 10px #000;
  top: 35vh;

  .navPageTitle {
    position: absolute;
    font-family: Verdana, sans-serif;
    font-size: 3vh;
    color: white;
    margin: 0 auto;
    text-decoration: none;
    letter-spacing: 1vw;
  }

  .readMore {
    position: absolute;
    font-size: 3vh;
    font-family: Verdana, sans-serif;
    color: white;
    letter-spacing: 1vw;
    left: 77.5%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1vh;
    border: 0.1vh solid #ff0000;
    box-shadow: 8px 5px 5px black;
    padding-right: 0;
    padding-left: 1vh;
    
    &:hover {
      background-color: rgba(187, 187, 187, 0.2);
      font-weight: 900;
      transform: scale(1.15);
      cursor: pointer;
    }
  }
}

