.logoContainer {
  height: 25.3vh;
}

.logo {
  width: 28vw;
  height: 35vh;
  border-radius: 1vh;
  opacity: 0.6;
  box-shadow: 0 0 10px #000;

  position: absolute;
  top: 0;
  right: 35.9vw;
  transform-origin: center;
}

.navPageBar {
  position: relative;
  width: 75vw;
  height: 5vh;
  align-items: center;
  margin: 7vh auto;
  border-radius: 1vh;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  top: 4vh;
}

.navPageTitleTwo {
  position: absolute;
  left: 0;
  font-family: Verdana, sans-serif;
  font-size: 3vh;
  color: #ffffff;
  text-align: start;
  margin: 0.4vh auto;
  text-decoration: none;
  letter-spacing: 1vw;
  border-radius: 1vh;
  border: 0.1vh solid #ff0000;
  background-color: rgba(0, 0, 0, 0.7);
}

.navPageTitleTwo.active {
  color: #ff0000;
}

.navPageTitleThree {
  position: absolute;
  right: 0;
  left: 76%;
  font-family: Verdana, sans-serif;
  font-size: 3vh;
  color: #ffffff;
  text-align: end;
  margin: 0.4vh auto;
  text-decoration: none;
  letter-spacing: 1vw;
  border-radius: 1vh;
  border: 0.1vh solid #ff0000;
  background-color: rgba(0, 0, 0, 0.7);
}

.navPageTitleThree.active {
  color: #ff0000;
}

.navPageTitleTwo:hover, .navPageTitleThree:hover {
  transform: scale(1.15);
  font-weight: 900;
  background-color: rgba(187, 187, 187, 0.2);
}

.facebookIcon {
  position: absolute;
  width: 4vh;
  height: 4vh;
  border-radius: 3.5vh;
  left: 31.5%;
  top: 8%
}

.instagramIcon {
  position: absolute;
  width: 4vh;
  height: 4vh;
  border-radius: 2.65vh;
  left: 66%;
  top: 8%;
}

.youtubeIcon {
  position: absolute;
  width: 4vh;
  height: 4vh;
  border-radius: 2.65vh;
  left: 48.7%;
  top: 8%;
}

.facebookIcon, .instagramIcon, .youtubeIcon {
  /*down, right, blur, spread, color*/
  box-shadow: 8px 5px 5px 3px black;
}

.facebookIcon:hover, .instagramIcon:hover, .youtubeIcon:hover {
  transform: scale(1.15);
  cursor: pointer;
}
