/* src/styles/globals.module.css */
.html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 2vh 0;
}

.siteTitle {
  font-size: 2.5rem;
  font-family: var(--bravada-arma), sans-serif;
  color: white;
  text-decoration: none;
  padding: 1.7vw;
  line-height: 5vh;
  height: 4.2vh;
  align-items: center;
  width: 8vw;
}

.siteTitle:hover {
  color: white;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.active {
  color: #ff0000;
}

.logoContainer {
  position: relative;
}

.footer {
  position: relative;
}