.Picture {
  width: 36vw;
  height: 57vh;
  border-radius: 1vh;
  box-shadow: 0 0 10px #000;

  position: absolute;
  top: 0;
  left: 12vw;
  transform-origin: center;
}

.logoXL {
  width: 36vw;
  height: 57vh;
  opacity: 0.6;
  border-radius: 1vh;
  box-shadow: 0 0 10px #000;

  position: absolute;
  top: 0;
  right: 12vw;
  transform-origin: center;
}