.navPageBar {
  position: relative;
  width: 75vw;
  height: 5vh;
  align-items: center;
  margin: 7vh auto;
  border-radius: 1vh;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  top: 4vh;
}

.navPageTitleTwo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: Verdana, sans-serif;
  font-size: 3vh;
  color: #ffffff;
  text-align: start;
  text-decoration: none;
  letter-spacing: 1vw;
  border-radius: 1vh;
  border: 0.1vh solid #ff0000;
  background-color: rgba(0, 0, 0, 0.7);
}

.navPageTitleTwo.active {
  color: #ff0000;
}

.navPageTitleThree {
  position: absolute;
  right: 0;
  left: 76%;
  top: 50%;
  transform: translateY(-50%);
  font-family: Verdana, sans-serif;
  font-size: 3vh;
  color: #ffffff;
  text-align: end;
  text-decoration: none;
  letter-spacing: 1vw;
  border-radius: 1vh;
  border: 0.1vh solid #ff0000;
  background-color: rgba(0, 0, 0, 0.7);
}

.navPageTitleThree.active {
  color: #ff0000;
}

.navPageTitleTwo:hover, .navPageTitleThree:hover {
  background-color: rgba(187, 187, 187, 0.2);
}