.contact {
  margin: 7vh auto;
  width: 76vw;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1vh;
  box-shadow: 0 0 10px #000;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;

  .contactForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1vh auto;

    .contactFormLeft {
      display: flex;
      flex-direction: column;
      width: 36vw;

      input[name='name'],
      input[name='email'],
      input[name='subject'] {
        margin: 0.7vh 0;
        padding: 0.5vh;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 1vh;
        box-shadow: 0 0 10px #000;
        color: white;
        font-family: Verdana, sans-serif;
        font-size: 1rem;
        height: 2.5vh;
      }
    }

    .contactFormRight {
      display: flex;
      flex-direction: column;
      width: 36vw;

      textarea[name='message'] {
        margin: 0.7vh 0;
        padding: 0.5vh;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 1vh;
        box-shadow: 0 0 10px #000;
        color: white;
        font-family: Verdana, sans-serif;
        font-size: 1rem;
        height: 12vh;
      }

      .submit {
        margin: 1vh 0;
        padding: 0.5vh;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 1vh;
        box-shadow: 0 0 10px #000;
        color: white;
        font-family: Verdana, sans-serif;
        font-size: 1.7vh;

        &:hover {
          background-color: rgba(179, 179, 179, 0.4);
          cursor: pointer;
        }
      }
    }
  }

  

  .mailto {
    text-decoration: none;
    color: #ff0000;
    font-family: Verdana, sans-serif;
  }
}

