.eventContainer {
	width: 75vw;
	margin: 0 auto;
	color: whitesmoke;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 1vh;
  box-shadow: 0 0 10px #000;
	padding: 2vh 2vw;

	input[name='title'],
	input[name='date'],
	input[name='location'] {
		margin: 0.7vh 0;
		padding: 0.5vh;
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 1vh;
		box-shadow: 0 0 10px #000;
		font-size: 1rem;
		color: whitesmoke;
		height: 2.5vh;
		width: 20vw;
	}

	input[type="datetime-local"] {
  	color-scheme: dark;
	}


	textarea[name='description'] {
		margin: 0.7vh 0;
		padding: 0.5vh;
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 1vh;
		box-shadow: 0 0 10px #000;
		font-size: 1rem;
		height: 10vh;
		width: 75vw;
		color:whitesmoke;
	}

	.formButton {
		margin: 1vh 0;
		padding: 0.5vh;
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 1vh;
		box-shadow: 0 0 10px #000;
		color: whitesmoke;
		font-size: 1rem;

		&:hover {
			background-color: rgba(179, 179, 179, 0.4);
			cursor: pointer;
		}
	}
}