.footerContainer {
	position:absolute;
	bottom:2vh;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;

	.footerContent {
		color: whitesmoke;
		font-size: 1rem;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		margin: 0;

		.footerLink {
			color: whitesmoke;
			text-decoration: none;
		}
	}
}

