.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
	justify-items: center;
	justify-content: center;
	row-gap: 4vh;

	.galleryItem {
		align-self: end;
		background: rgba(0, 0, 0, 0.4);
		padding: 2vh 2vw;
		border-radius: 1vw;
	
		.image {
			width: 15vw;
		}

		.overlay {
			color: whitesmoke;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-size: 1rem;
		}
	}
}