.biography {
  margin: 7vh auto;
  width: 74vw;
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1vh;
  box-shadow: 0 0 10px #000;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 1.7vh;
  text-align: center;
}